body {
    background-color: white;
}
.main-page{
    background-color: rgb(199, 181, 217);
}
.footer{
    position: relative;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    transition: font-size 0.3s ease;
}

nav a:hover {
    font-size: 22px;
    color: #007BFF;
}