* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

header nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.divalbums h2{
    margin-top: 35px;
}

#futureimg {
    margin: 20px 0;
}

.albums {
    display: flex;
    gap: 50px;
}
.albums img{
    border-radius: 6px;
}

.albums li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.albums h3 {
    margin-top: 10px;
}
.main-div{
    padding: 30px;
    margin-top: 50px;
    background-color: #828282;
    border-radius: 10px;
}

/* EFEITO DA LUZ */
.light-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; 
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.2), transparent 50%);
    transition: background-position 0.05s;
    display: none; 
}

 /* EFEITO DO ZOOM */
 .divalbums img {
    transition: transform 0.3s ease;
}

.zoom {
    transform: scale(1.2);
}
