* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

header,
main, article{
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 2em; */
}

header {
    width: 100%;
    background: red;
    position: sticky;
    height: auto;
    top: 0;
    display: flex;
    justify-content: space-between;
}
header h1{
    color: white;
    padding: 30px;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 30px;
}
nav a{
    padding: 30px;
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: black;
}
nav a:active{
    color: aqua;
}
nav li:last-child{
    border-radius: 5px;
}
nav li:last-child a{
    color: black;
    background-color: rgb(222, 209, 209);
    padding: 5px;
    border-radius: 5px;
}
nav li:last-child a:hover{
    color: purple;
}

article#poema{
    height: 500px;
    display: flex;
    justify-content: column;
    align-items: center;
    background-color: aqua;
}
.poema p:last-of-type {
    font-weight: bold;
}

#paisagem{
    background-color: red;
}
.div-view {
    position: relative;
    width: 100vw;
    height: auto;
    max-height: 100vh;
    overflow: hidden;
}
.div-view img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.div-view p a {
    color: white;
    text-decoration: none;
}

.div-view p a:hover {
    text-decoration: underline;
}

.div-view p {
    position: absolute;
    bottom: 10px;
    right: 20px;
    padding: 5px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
} 
article#cidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vw;
    background: rgb(161, 161, 161);
  }

  #cidades section {
    display: flex;
    margin: 10px;
  }

  #cidades img {
    box-shadow: 5px 2px 2px gray;
    width: 100px;
    height: 80px;
    border-radius: 20px 0 0 20px;
  }

  #cidades div {
    box-shadow: 5px 2px 2px gray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    border-radius: 0 20px 20px 0;
    background: rgb(255, 255, 255);
  }
  #experimenta {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center; 
    height: 500px; 
}
.div1, .div2, .div3 {
    margin: 10px;
    padding: 20px;
    background-color: lightblue;
    border: 1px solid #000;
}

.div1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 200px;
}
.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    
    width: 300px;
    height: 300px;
    border-radius: 200px;
}
.div2:hover{
    background-color: green;
    background-image: url(images/portugal.jpg);
}
.div3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 200px;
}
