* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width:601px) {
    body {
        /* overflow-x: hidden; */
        display: grid;
        width: 100vw;
        height: 100vh;

        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        
        grid-template-areas:
            'header header header'
            'main main main'
            'nav nav aside'
            'div div div'
            'footer footer footer';
    }

    header {
        /* background-color: blueviolet; */
        border: 1px solid black;
        grid-area: header;
    }

    div {
        border: 1px solid black;
        grid-area: div;
    }

    nav {
        /* background-color: red; */
        border: 1px solid black;
        grid-area: nav;
    }

    main {
        /* background-color: yellow; */
        border: 1px solid black;
        grid-area: main;
    }

    aside {
        /* background-color: green; */
        border: 1px solid black;
        grid-area: aside;
    }

    footer {
        /* background-color:peru; */
        border: 1px solid black;
        grid-area: footer;
    }
}