*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 30px;
    /* display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 20% 1fr 50px;
    grid-template-areas:'header-area header-area header-area'
    'menu-area main-area right-area '
    'menu-area footer-area footer-area' ; */
}
/* header{
    border: 1px solid black ;
    grid-area: header-area;}
nav{
    border: 1px solid black ;
    grid-area: nav-area;
}
main{
    border: 1px solid black ;
    grid-area: main-area;
}
aside{
    border: 1px solid black ;
    grid-area: aside-area;
}
footer{
    border: 1px solid black ;
    grid-area: footer-area;
} */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de tamanhos iguais */
    grid-template-rows: repeat(2, 150px); /* 2 linhas de altura 150px */
    gap: 10px; /* Espaçamento entre os itens da grid */
    padding: 20px; /* Espaçamento interno da grid */
    background-color: #f4f4f4;
    grid-template-areas: 
        "1 3 4"
        "6 2 5";
}

/* Estilo básico para os itens da grid */
.item {
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

/* Efeito ao passar o mouse */
.item:hover {
    transform: scale(1.1); /* Aumenta levemente o item ao passar o mouse */
}
